//╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺
// COLORS
//╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺

// $app-header: #20222b;
// $off-white: #a5afd7;
// $dark-blue: #333745;
// $list-header: #3c4251;
// $list-background: #464b5e;
// $button-color: #8357c5;

$app-header: #080705;
$off-white: #fef1e7;
$background: #1C1919;
$list-header: #080705;
$list-background: #272727;
$button-color: #e66300;

// $app-header: #080705;
// $off-white: #fef1e7;
// $background: #272727;
// $list-header: #080705;
// $list-background: #1C1919;
// $button-color: #e66300;

// $app-header: #1C0B19;
// $dark-blue: #3B1F2B;
// $list-header: #483741;
// $list-background: #5E4955;
// $button-color: #a40e40;
// $off-white: #C2B2B4;



// $app-header: #2c2220;
// $dark-blue: #d4c6c4;
// $list-header: #594440;
// $list-background: #725752;
// $button-color: #7B0D1E;
// $off-white: #f4f1f0;

// $button-color: #9E2B25;

//╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺
// SPACING
//╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺╺

$s-size : 1.2rem;
$m-size : 1.6rem;
$l-size : 3.2rem;
$xl-size : 4.8rem;
$desktop-breakpoint: 45rem;